<style>
h3{
    margin: auto;
    text-align: center;
    padding: 10px;
}
.image{
    width: 100%;
    height: 175px;
    border-style: solid;
    border-color: black;
}
.button{
    width: 10%;
}
#addbox{
    float: right;
    width: 25%;
    margin-top: 20px;
}
#gif{
    float: left;
    width: 70%;
    columns: 3;
}
</style>